hostname {{ inventory_hostname }}

{% if ethernet_interfaces %}
interface {{ ethernet_interfaces[0] }}
  description Uplink to core switch
  ip address 192.168.100.1 255.255.255.0
{% else %}
# No applicable Ethernet interface found
{% endif %}
!
line vty 0 4
  exec-timeout 10 0
  logging synchronous
!
